@model IEnumerable<DataModel.ClienteModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $("#fechacompra").datepicker();
        function muestraPopup() {
            let indiceDB = document.getElementById('hdIndice').value;
            $('#ModalPopUp').modal('show');
        }

        function actualizar() {
            let indiceDB = document.getElementById('hdIndice').value;
            let cantidadCompras = document.getElementById('cantidadCompras').value;
            let fechaCompra = document.getElementById('fechaCompra').value;
            $.ajax({
                type: "POST",
                url: "/Cliente/Actualizar",
                data: '{empresa: "' + indiceDB + '", cantidadCompras: "' + cantidadCompras + '", fechaCompra: "' + fechaCompra + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    //$('#dialog').html(response);
                    //$('#dialog').dialog('open');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    </script>
</head>

<h2>Index</h2>

<p>
    <form action="/Cliente/Index" method="post">
        <br />
        <label>Identificación</label>
        <input type="text" class="form-control" name="identidad" placeholder="Identificación" required autofocus>
        <button class="btn btn-primary" type="submit">
            Buscar
        </button>
    </form>
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Identidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComprasRealizadas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaUltimaCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            
        </th>
    </tr>

    @foreach (var item in Model)
    {        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identidad)
                @Html.HiddenFor(modelItem => item.indiceBD, new { id="hdIndice" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComprasRealizadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaUltimaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <input type="button" name="edit" value="Editar" onclick="muestraPopup()" />
            </td>
        </tr>
     }

    </table>

<div class="modal fade" id="ModalPopUp" role="dialog">
    <div class="modal-dialog err-pop" style="width: 300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center;">               
                    <div class="row">                     
                        <div class="col-lg-6">
                            <label>Cantidad de compras</label>
                            <input type="number" class="form-control" name="cantidadCompras" id="cantidadCompras" required autofocus>
                        </div>
                        <div class="col-lg-6">
                            <label>Fecha última compra</label>
                            <input type="date" class="form-control" name="fechacompra" id="fechaCompra">
                        </div>
                    </div>
                    <br />
                    <button class="btn btn-primary" type="submit" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit" onclick="actualizar()">Actualizar</button>           
            </div>
        </div>
    </div>

    
